{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
          <h1 class="text-justify text-muted">K3 Remote Launcher</h1>

          <p class="lead">

            <ul class="list-group">
              <li class="list-group-item"><a href="https://github.com/DaMSL/K3">K3 on Githib</a></li>
              <li class="list-group-item"><a href="/restapi">REST API Reference</a></li>
              <li class="list-group-item"><a href="/yamlinstructions">YAML File Instructions</a></li>              
            </ul>


          </p>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
