{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h2>Compile a New K3 Application from source</h2>
        <form action="" method=post enctype=multipart/form-data>
            <div class="row">
                <div class="col-md-2"><h4>Application Name: </h4></div>
                <div class="col-md-8"><input type=text name=name></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Blocksize:</h4></div>
                <div class="col-md-8"><input type=text name=blocksize value=4 size="80"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4># of Worker Nodes:</h4></div>
                <div class="col-md-8"><input type=text name=numworkers size="80"></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Force Git Pull:</h4></div>
                <div class="col-md-8"><input type=text name=gitpull value=True></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Force Cabal Build:</h4></div>
                <div class="col-md-8"><input type=text name=cabalbuild value=False></div>
            </div>
            <div class="row">
                <div class="col-md-2"><h4>Branch or Commit hash to pull:</h4></div>
                <div class="col-md-8"><input type=text name=branch value="development" size="80"></div>
            </div> 
            <div class="row">
                <div class="col-md-2"><h4>Compile Stage</h4></div>
                <div class="col-md-8">
                    <select name = "compilestage">
                        <option value = "both">Both: K3->bin</option>
                        <option value = "cpp">First:  K3->CPP</option>
                        <option value = "bin">Second: CPP->bin</option>
                    </select>
                  </div>
            </div>

<!--             <div class="row">
                <div class="col-md-4"><h4>Compile Level (1=cpp, 2=binary)</h4></div>
                <div class="col-md-8"><input type=text name=compilestage value=1 size="80"></div>
            </div>
 -->
             <div class="row">
                <div class="col-md-2"><h4>Compilation Options (TODO):</h4></div>
                <div class="col-md-8"><input type=text name=options size="80"></div>
            </div>
<!--             <div class="row" class="col-md-12">
                <div class="col-md-4"><h4>Tag/Notes (optional):</h4></div>
                <div class="col-md-8"><input type=text name=tag size="80"></div>
            </div>
 -->            <h2>K3 Source</h2>
            <div class="row">
               <span class="lead text-left"> Option A: Upload K3 Source File (.k3)</span>
               <input type=file class="btn btn-file btn-md" name=file>
               <span class="lead text-center"><button type=submit class="btn btn-primary btn-md">Submit</button></span>
            </div>
            <br>
            <div id="editor" class="row">
                 <span class="lead text-left">Option B: Paste raw K3 Source</span>
                 <textarea class="form-control" name=text cols=20 rows=30></textarea>
            </div>
      <p>
            <span class="lead text-center"><button type=submit class="btn btn-primary btn-md">Submit</button></span>
      </p>
         </form>
    </div>
  </div>
{% endblock %}
<!--<script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>-->
{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}