{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h2>Compile a new K3 Application from source</h2>
        <form action="" method=post enctype=multipart/form-data>
            <div class="row">
                <div class="col-md-4"><h4>Application Name: </h4></div>
                <div class="col-md-8"><input type=text name=name></div>
            </div>
            <div class="row">
                <div class="col-md-4"><h4>User (optional):</h4></div>
                <div class="col-md-8"><input type=text name=user></div>
            </div>
            <div class="row" class="col-md-12">
                <div class="col-md-4"><h4>Compilation Options (optional):</h4></div>
                <div class="col-md-8"><input type=text name=options size="80"></div>
            </div>
            <div class="row" class="col-md-12">
                <div class="col-md-4"><h4>Tag/Notes (optional):</h4></div>
                <div class="col-md-8"><input type=text name=tag size="80"></div>
            </div>
            <h4>Select a file or paste your raw source text below</h4>
            <div class="row">
              <div class="col-md-3">
                 <h4>Upload K3 Source File (.k3) </h4>
                 <input type=file class="btn btn-file btn-md" name=file>
              </div>
                 <h4>Paste raw K3 Source below</h4>
              <div id="editor" class="col-md-9">
                <textarea class="form-control" name=text cols=20 rows=30></textarea>
              </div>
            </div>

      <p>
            <span class="lead text-center"><button type=submit class="btn btn-primary btn-md">Submit</button></span>
                </p>
         </form>
    </div>
  </div>
{% endblock %}
<!--<script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script>-->
{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}