{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h1>K3</h1>
      <p class="lead">
        Weclome to K3.<br />
        <ul class="list-group">
          <li class="list-group-item"><a href="https://github.com/DaMSL/K3">K3 on Github</a></li>
          <li class="list-group-item"><a href="/restapi">REST API Reference</a></li>
          <li class="list-group-item"><a href="/fs/build">Compiled Jobs (Completed ones)</a></li>
          <li class="list-group-item"><a href="/fs/jobs">Progam Sandboxes</a></li>
          <li class="list-group-item"><a href="/log">Flask Web Log</a></li>
        </ul>
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
