{% extends "layout/base.html" %}

{% block content %}

<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(4,128,12); font-style: italic; }
.s1 { }
.s2 { color: rgb(153,16,2); font-weight: bold; }
</style>

<div class="container">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
api.py</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  / - Home (welcome msg)</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/'</span><span class="s1">) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/index'</span><span class="s1">) 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /about - about message</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/about'</span><span class="s1">) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /about - Static Files (File System directory access)</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/fs/&lt;path:path&gt;/'</span><span class="s1">) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /apps - Application Level interface</span><span class="s1"> 
</span><span class="s0">#         POST   Upload new application</span><span class="s1"> 
</span><span class="s0">#             curl -i -H &quot;Accept: application/json&quot; -F file=@&lt;filename&gt; http://qp1:5000/apps</span><span class="s1"> 
</span><span class="s0">#</span><span class="s1"> 
</span><span class="s0">#         GET    Display both list of loaded apps and form to upload new ones</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/apps'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/app'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /apps/&lt;appName&gt; - Specific Application Level interface</span><span class="s1"> 
</span><span class="s0">#         GET    Display all versions for given application</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/apps/&lt;appName&gt;'</span><span class="s1">) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/app/&lt;appName&gt;'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /apps/&lt;appName&gt; - Specific Application Level interface</span><span class="s1"> 
</span><span class="s0">#         POST   (Upload archive data (C++, Source, etc....)</span><span class="s1"> 
</span><span class="s0">#            curl -i -H &quot;Accept: application/json&quot;</span><span class="s1"> 
</span><span class="s0">#                    -F &quot;file=&lt;filename&gt;&quot; http://qp1:5000/apps/&lt;addName&gt;/&lt;addUID&gt;</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/apps/&lt;appName&gt;/&lt;appUID&gt;'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/app/&lt;appName&gt;/&lt;appUID&gt;'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /jobs - Current runtime &amp; completed job Interface</span><span class="s1"> 
</span><span class="s0">#         GET    Display currently executing &amp; recently completed jobs</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/jobs'</span><span class="s1">) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/job'</span><span class="s1">) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /jobs/&lt;appName&gt;</span><span class="s1"> 
</span><span class="s0">#  /jobs/&lt;appName&gt;/&lt;appUID  - Launch a new K3 Job</span><span class="s1"> 
</span><span class="s0">#         POST    Create new K3 Job</span><span class="s1"> 
</span><span class="s0">#          curl -i -X POST -H &quot;Accept: application/json&quot; -F &quot;file=@&lt;rolefile&gt;&quot; http://qp1:5000/jobs/&lt;appName&gt;/&lt;appUID&gt;</span><span class="s1"> 
</span><span class="s0">#             NOTE: if appUID is omitted, job will be submitted to latest version of this app</span><span class="s1"> 
</span><span class="s0">#</span><span class="s1"> 
</span><span class="s0">#         GET    Display job list for this application</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/jobs/&lt;appName&gt;/&lt;appUID&gt;'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/jobs/&lt;appName&gt;'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /jobs/&lt;appName&gt;/&lt;jobId&gt;/status - Detailed Job info</span><span class="s1"> 
</span><span class="s0">#         GET     Display detailed job info  (default for all methods)</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/jobs/&lt;appName&gt;/&lt;jobId&gt;/status'</span><span class="s1">) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/job/&lt;jobId&gt;'</span><span class="s1">) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /jobs/&lt;appName&gt;/&lt;appUID/replay  - Replay a previous K3 Job</span><span class="s1"> 
</span><span class="s0">#         POST    Create new K3 Job</span><span class="s1"> 
</span><span class="s0">#          curl -i -X POST -H &quot;Accept: application/json&quot; http://qp1:5000/jobs/&lt;appName&gt;/&lt;appUID&gt;/replay</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/jobs/&lt;appName&gt;/&lt;jobId&gt;/replay'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/job/&lt;jobId&gt;/replay'</span><span class="s1">) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /jobs/&lt;appName&gt;/&lt;jobId&gt;/archive - Endpoint to receive &amp; archive files</span><span class="s1"> 
</span><span class="s0">#         GET     returns curl command</span><span class="s1"> 
</span><span class="s0">#         POST    Accept files for archiving here</span><span class="s1"> 
</span><span class="s0">#           curl -i -H &quot;Accept: application/json&quot;</span><span class="s1"> 
</span><span class="s0">#              -F file=@&lt;filename&gt; http://qp1:5000/&lt;appName&gt;/&lt;jobId&gt;/archive</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/jobs/&lt;appName&gt;/&lt;jobId&gt;/archive'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/job/&lt;jobId&gt;/archive'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">, </span><span class="s2">'POST'</span><span class="s1">]) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /jobs/&lt;appName&gt;/&lt;jobId&gt;/kill - Job Interface to cancel a job</span><span class="s1"> 
</span><span class="s0">#         GET     Kills a Job (if orphaned, updates status to killed)</span><span class="s1"> 
</span><span class="s0">#           curl -i -H &quot;Accept: application/json&quot; http://&lt;host&gt;:5000/job/&lt;jobId&gt;/kill</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/jobs/&lt;appName&gt;/&lt;jobId&gt;/kill'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">]) 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/job/&lt;jobId&gt;/kill'</span><span class="s1">, methods=[</span><span class="s2">'GET'</span><span class="s1">]) 
 
 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
</span><span class="s0">#  /delete/jobs</span><span class="s1"> 
</span><span class="s0">#         POST     Deletes list of K3 jobs</span><span class="s1"> 
</span><span class="s0">#------------------------------------------------------------------------------</span><span class="s1"> 
<span class=".text-info">END POINT:</span>(</span><span class="s2">'/delete/jobs'</span><span class="s1">, methods=[</span><span class="s2">'POST'</span><span class="s1">]) 
</span></pre>
    </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}