
{% extends "layout/base.html" %}

{% block content %}

<pre>


===============================================================================
  / - Home (welcome msg)
-------------------------------------------------------------------------------
@webapp.route('/')


===============================================================================
  /about - Display about page
-------------------------------------------------------------------------------
@webapp.route('/index')
@webapp.route('/about')


===============================================================================
  /restapi - Display complete list of API EndPoints
-------------------------------------------------------------------------------
@webapp.route('/restapi')


===============================================================================
  /log - Displays current log file
-------------------------------------------------------------------------------
@webapp.route('/log')


===============================================================================
  /trace - Debugging respose. Returns the client's HTTP request data in json
-------------------------------------------------------------------------------
@webapp.route('/trace')


===============================================================================
  /kill - Kill the server  (TODO: Clean this up)
-------------------------------------------------------------------------------
@webapp.route('/kill')


===============================================================================
  /fs - File System Exposure for the local webroot folder
        Note: Direct file access via curl should include a trailing slash (/)
           Otherwise, you will get a 302 redirect to the actual file
-------------------------------------------------------------------------------
@webapp.route('/fs/&lt;path:path&gt;/')


===============================================================================
  /apps, /app - Application Level interface
     POST   Upload new application
       curl -i -X POST -H "Accept: application/json"
           -F file=@&lt;filename&gt; http://&lt;host&gt;:&lt;port&gt;/apps

     GET    Display both list of loaded apps and form to upload new ones

     /app will redirect to /apps
-------------------------------------------------------------------------------
@webapp.route('/app', methods=['GET', 'POST'])
@webapp.route('/apps', methods=['GET', 'POST'])


===============================================================================
  /apps/&lt;appName&gt; - Specific Application Level interface
         GET    Display all versions for given application
-------------------------------------------------------------------------------
@webapp.route('/app/&lt;appName&gt;')
@webapp.route('/apps/&lt;appName&gt;')


===============================================================================
  /apps/&lt;appName&gt;/&lt;appUID&gt; - Specific Application Level interface
         POST   (Upload archive data (C++, Source, etc....)
            curl -i -X POST -H "Accept: application/json"
                    -F "file=&lt;filename&gt;" http://qp1:5000/apps/&lt;addName&gt;/&lt;addUID&gt;

         GET    (TODO) Display archived files...  NotImplemented
-------------------------------------------------------------------------------
@webapp.route('/app/&lt;appName&gt;/&lt;appUID&gt;', methods=['GET', 'POST'])
@webapp.route('/apps/&lt;appName&gt;/&lt;appUID&gt;', methods=['GET', 'POST'])


===============================================================================
  /delete/app/&lt;appName&gt;
     POST     Deletes an app from the web server
         NOTE: Data files will remain in webroot on the server, but
           the app will be inaccessible through the interface
           (metadata is removed from the internal db)
-------------------------------------------------------------------------------
@webapp.route('/delete/app/&lt;appName&gt;', methods=['POST'])


===============================================================================
  /jobs - Current runtime & completed job Interface
         GET    Display currently executing & recently completed jobs
-------------------------------------------------------------------------------
@webapp.route('/job')
@webapp.route('/jobs')


===============================================================================
  /jobs/&lt;appName&gt;
  /jobs/&lt;appName&gt;/&lt;appUID  - Launch a new K3 Job
         POST    Create new K3 Job
          curl -i -X POST -H "Accept: application/json"
             -F "file=@&lt;rolefile&gt;"
             -F logging=[True | False]
             -F jsonlog=[True | False]
             -F jsonfinal=[True | False]
             -F http://&lt;host&gt;:&lt;port&gt;/jobs/&lt;appName&gt;/&lt;appUID&gt;
             NOTE: if appUID is omitted, job will be submitted to latest version of this app

         GET    Display job list for this application
-------------------------------------------------------------------------------
@webapp.route('/jobs/&lt;appName&gt;', methods=['GET', 'POST'])
@webapp.route('/jobs/&lt;appName&gt;/&lt;appUID&gt;', methods=['GET', 'POST'])


===============================================================================
  /jobs/&lt;appName&gt;/&lt;jobId&gt;/status - Detailed Job info
         GET     Display detailed job info  (default for all methods)
-------------------------------------------------------------------------------
@webapp.route('/job/&lt;jobId&gt;')
@webapp.route('/jobs/&lt;appName&gt;/&lt;jobId&gt;/status')


===============================================================================
  /jobs/&lt;appName&gt;/&lt;appUID/replay  - Replay a previous K3 Job
         POST    Create new K3 Job
          curl -i -X POST -H "Accept: application/json" http://&lt;host&gt;:&lt;port&gt;/jobs/&lt;appName&gt;/&lt;appUID&gt;/replay
-------------------------------------------------------------------------------
@webapp.route('/job/&lt;jobId&gt;/replay')
@webapp.route('/jobs/&lt;appName&gt;/&lt;jobId&gt;/replay', methods=['GET', 'POST'])


===============================================================================
  /jobs/&lt;appName&gt;/&lt;jobId&gt;/archive - Endpoint to receive & archive files
         GET     returns curl command
         POST    Accept files for archiving here
           curl -i -X POST -H "Accept: application/json"
              -F file=@&lt;filename&gt; http://&lt;host&gt;:&lt;post&gt;/&lt;appName&gt;/&lt;jobId&gt;/archive
-------------------------------------------------------------------------------
@webapp.route('/job/&lt;jobId&gt;/archive', methods=['GET', 'POST'])
@webapp.route('/jobs/&lt;appName&gt;/&lt;jobId&gt;/archive', methods=['GET', 'POST'])


===============================================================================
  /jobs/&lt;appName&gt;/&lt;jobId&gt;/kill - Job Interface to cancel a job
         GET     Kills a Job (if orphaned, updates status to killed)
           curl -i -H "Accept: application/json" http://qp1:5000/jobs/&lt;appName&gt;/&lt;jobId&gt;/kill
-------------------------------------------------------------------------------
@webapp.route('/job/&lt;jobId&gt;/kill', methods=['GET'])
@webapp.route('/jobs/&lt;appName&gt;/&lt;jobId&gt;/kill', methods=['GET'])


===============================================================================
  /delete/jobs
         POST     Deletes list of K3 jobs
-------------------------------------------------------------------------------
@webapp.route('/delete/jobs', methods=['POST'])


===============================================================================
  /jobs/&lt;appName&gt;/&lt;jobId&gt;/stdout - Job Interface for specific job
         GET     TODO: Consolidate STDOUT for current job (from all tasks)
         POST    TODO: Accept STDOUT & append here (if desired....)
-------------------------------------------------------------------------------


===============================================================================
  /compile
         GET     Form for compiling new K3 Executable OR status of compiling tasks
         POST    Submit new K3 Compile task
           curl -i -X POST -H "Accept: application/json"
                   -F name=&lt;appName&gt;
                   -F file=@&lt;sourceFile&gt;
                   -F blocksize=&lt;blocksize&gt;
                   -F compilestage=&lt;compilestage&gt;
                   -F numworkers=&lt;numworkers&gt;
                   -F options=&lt;compileOptions&gt;
                   -F user=&lt;userName&gt; http://&lt;host&gt;:&lt;port&gt;/compile
    NOTE: Username, blocksize, numworkers, compilestate & Options are optional
             default vals:  numworkers=1,  blocksize=4, compilestage=""
-------------------------------------------------------------------------------
@webapp.route('/compile', methods=['GET', 'POST'])


===============================================================================
  /compile/&lt;uid&gt;
         GET     displays STDOUT & STDERR consolidated output for compile task
-------------------------------------------------------------------------------
@webapp.route('/compile/&lt;uid&gt;', methods=['GET'])


===============================================================================
  /compilestatus - Provide simple output of current (or most recent) Compilation Job
-------------------------------------------------------------------------------
@webapp.route('/compilestatus')


===============================================================================
  /compilelog - Connects User to compile log websocket
-------------------------------------------------------------------------------
@webapp.route('/compilelog')


===============================================================================
  /compile/&lt;uname&gt;/kill
         GET     Kills an active compiling tasks (or removes and orphaned one
-------------------------------------------------------------------------------
@webapp.route('/compile/&lt;uid&gt;/kill', methods=['GET'])


===============================================================================
  /delete/compiles
         POST     Deletes list of compile jobs
-------------------------------------------------------------------------------
@webapp.route('/delete/compiles', methods=['POST'])

</pre>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
