{% extends "layout/base.html" %}

{% block content %}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        function resizeTextArea() {
            //Wrap your form contents in a div and get its offset height
            var heightOfForm = document.getElementById('logpanel').offsetHeight;
            //Get height of body (accounting for user-installed toolbars)
            var heightOfBody = document.body.clientHeight;
            var buffer = 35; //Accounts for misc. padding, etc.
            //Set the height of the textarea dynamically
            document.getElementById('area').style.height =
              (heightOfBody - heightOfForm) - buffer;
            //NOTE: For extra panache, add onresize="resizeTextArea()" to the body
        }

        $(document).ready(function(){
          //TODO: Change /compile to generic django input
            namespace = '{{ namespace }}';

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my event', 'User is connected!');
            });

            socket.on('my response', function(msg) {
                $('#log').append('<br>' + msg);
                $('#log').scrollTop($('#log')[0].scrollHeight);
            });

         });
    </script>

  <div class="container">
    <div class="starter-template" onload="resizeTextArea()" onresize="resizeTextArea()">
      <p>
        <h2>Socket Stream:</h2>
        <div id="logpanel" style="width: 100%; height: 100%">
           <textarea id="log" rows="30" readonly style="width: 100%; height: 100%; font-family: monospace; overflow: scroll">
            {{ prefetch }}
           </textarea>
        </div>
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
